
.container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:2px solid #333;
}


#addButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#addButton:hover {
    background-color: #45a049;
}

#divContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #17816c;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 90vw;
}

.new-div {
    margin-top: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #140f44;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}
.new-div {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    border-color: #140f44; /* Ensure border color is always applied */
}

.border-1 {
    border-width: 1px;
}

.border-5 {
    border-width: 5px;
}

.border-10 {
    border-width: 10px;
}
